.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    width: 72px;
    height: 72px;
    background: rgba(#3842b0, 0.1);
    border-radius: 100%;

    > img {
      margin-top: 25%;
    }
  }
}
