@import "./common.scss";
@import "../fonts/mixins.scss";

.wrapper {
    @include authMain;
}

.containerA {
    background: #fff;
}

.containerATitle {
    @include font-GT-Walsheim-PRO($font-GT-Walsheim-PRO-weight-bold);
    margin-top: 5px;
    font-size: 24px;
    text-align: center;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subContainerItem {
    width: 66.745%;

    @media only screen and (max-width: 991px) {
        width: auto;
    }
}

.signInWithGoogle {
    @extend .subContainerItem;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    > div {
        position: absolute;
        height: 42px;
        width: 42px;
        background: #fff;
        margin-left: 8px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > button {
        @include font-GT-Walsheim-PRO($font-GT-Walsheim-PRO-weight-bold);
        background: rgba(#3842b0, 0.1);
        border: none;
        color: #3842b0;
        font-size: 16px;
        height: 56px;
        border-radius: 8px;
    }

    @media only screen and (max-width: 991px) {
        width: auto;
        width: 100%;
    }
}

.signInWithEmailDivider {
    @extend .subContainerItem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    > div:nth-child(1),
    > div:nth-child(3) {
        width: 64px;
        height: 1px;
        background: rgba(#9395b4, 0.16);
    }
}

.signInWithEmailDividerText {
    @include font-adineue-PRO;
    color: #5a5d82;
    font-size: 14px;
}

.inputContainer {
    margin-top: 32px;
}

.signInWithEmailBtnContainer {
    margin-top: 40px;

    > button {
        @include font-GT-Walsheim-PRO($font-GT-Walsheim-PRO-weight-bold);
        background: #3842b0;
        color: #fff;
        height: 56px;
        border-radius: 6px;
        border: none;
        font-size: 16px;
    }

    @media only screen and (max-width: 991px) {
        width: auto;
        width: 100%;
    }
}

.forgotPassword {
    @include font-adineue-PRO;
    margin-top: 36px;
    cursor: pointer;
    color: #3842b0;
    font-size: 14px;
    text-decoration: underline;
}

.createAccount {
    @include font-adineue-PRO;
    font-size: 14px;
    color: #5a7184;

    > span {
        @include font-adineue-PRO;
        cursor: pointer;
        color: #3842b0;
        text-decoration: underline;
    }
}

.signInFooter {
    @include font-adineue-PRO;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: #5a5d82;
    font-size: 14px;

    > div {
        padding: 0 12px;
        cursor: pointer;

        &:nth-child(2) {
            border-left: 1px solid #5a5d82;
            border-right: 1px solid #5a5d82;
        }
    }
}

.containerB {
    background: #f8f8ff;

    > div:nth-child(1) {
        position: relative;

        > div:nth-child(1) {
            position: absolute;
            right: 0;
            top: 20%;
        }
    }
}

.containerBTitle {
    @include font-GT-Walsheim-PRO($font-GT-Walsheim-PRO-weight-bold);
    font-size: 40px;
    line-height: 44px;
}

.containerBDesc {
    @include font-adineue-PRO;
    font-size: 16px;
    color: #0f113b;
    opacity: 0.8;
}

.vector {
    position: relative;
    margin-top: 40%;
    display: flex;
    justify-content: center;

    > div:nth-child(1) {
        z-index: 5;
    }

    > div:nth-child(2) {
        position: absolute;
        width: 32px;
        height: 33px;
        top: -8%;
        right: 15%;
    }

    > div:nth-child(3) {
        position: absolute;
        width: 44px;
        height: 45px;
        top: -15%;
        left: 30%;
    }

    > div:nth-child(4) {
        position: absolute;
        width: 44px;
        height: 45px;
        top: 20%;
        left: 0;
    }
    > div:nth-child(5) {
        position: absolute;
        width: 44px;
        height: 45px;
        top: -50%;
        right: 30%;
    }
}

.eyeIcon {
    cursor: pointer;
}
