@use "common.scss";
@use "../fonts/mixins.scss";
@use "../fonts/weights";

.wrapper {
    @include common.authMain;
}

.subContainer {
    @include common.authCmnSubContainer;
}

.title {
    @include common.authCmnTitle;
}

.subtitle {
    @include common.authCmnSubtitle;
}

.pointer {
    cursor: pointer;
}

.termsCondition {
    @include mixins.font-adineue-PRO;
    font-size: 14px;
    color: #5a5d82;

    > span {
        @include mixins.font-GT-Walsheim-PRO(weights.$font-GT-Walsheim-PRO-weight-bold);
        color: #3842b0;
    }
}

.button {
    @include common.authCmnBtn;
}

.signIn {
    @include common.authCmnSignIn;
}
