@import "./weights.scss";

@font-face {
    font-family: "GT Walsheim PRO";
    font-weight: $font-GT-Walsheim-PRO-weight-regular;
    font-style: normal;
    src: url("/fonts/GT Walsheim Pro/GTWalsheimPro-Regular.woff2") format("woff2"),
        url("/fonts/GT Walsheim Pro/GTWalsheimPro-Regular.woff") format("woff"),
        url("/fonts/GT Walsheim Pro/GTWalsheimPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "GT Walsheim PRO";
    font-weight: $font-GT-Walsheim-PRO-weight-medium;
    font-style: normal;
    src: url("/fonts/GT Walsheim Pro/GTWalsheimPro-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "GT Walsheim PRO";
    font-weight: $font-GT-Walsheim-PRO-weight-bold;
    font-style: normal;
    src: url("/fonts/GT Walsheim Pro/GTWalsheimPro-Bold.woff2") format("woff2"),
        url("/fonts/GT Walsheim Pro/GTWalsheimPro-Bold.woff") format("woff"),
        url("/fonts/GT Walsheim Pro/GTWalsheimPro-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "GT Walsheim PRO";
    font-weight: $font-GT-Walsheim-PRO-weight-black;
    font-style: normal;
    src: url("/fonts/GT Walsheim Pro/GTWalsheimPro-Black.ttf") format("truetype");
}

@font-face {
    font-family: "GT Walsheim PRO";
    font-weight: $font-GT-Walsheim-PRO-weight-light;
    font-style: normal;
    src: url("/fonts/GT Walsheim Pro/GTWalsheimPro-Light.woff2") format("woff2"),
        url("/fonts/GT Walsheim Pro/GTWalsheimPro-Light.woff") format("woff"),
        url("/fonts/GT Walsheim Pro/GTWalsheimPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: "GT Walsheim PRO";
    font-weight: $font-GT-Walsheim-PRO-weight-thin;
    font-style: normal;
    src: url("/fonts/GT Walsheim Pro/GTWalsheimPro-Thin.ttf") format("truetype");
}
