// https://gist.github.com/sumul/2fbe259357888e8d677a

// Weights
$font-weight-hairline: 100;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-xbold: 800;
$font-weight-black: 900;

// Synonyms
$font-weight-regular: $font-weight-normal;
$font-weight-book: $font-weight-light;
$font-weight-xlight: $font-weight-hairline;
$font-weight-ultralight: $font-weight-hairline;
$font-weight-heavy: $font-weight-xbold;

// GT Walsheim PRO
$font-GT-Walsheim-PRO-weight-regular: $font-weight-regular;
$font-GT-Walsheim-PRO-weight-medium: $font-weight-medium;
$font-GT-Walsheim-PRO-weight-bold: $font-weight-bold;
$font-GT-Walsheim-PRO-weight-black: $font-weight-black;
$font-GT-Walsheim-PRO-weight-thin: $font-weight-thin;

// adineue PRO
$font-adineue-PRO-weight-regular: $font-weight-regular;
$font-adineue-PRO-weight-light: $font-weight-light;
$font-adineue-PRO-weight-bold: $font-weight-bold;
